h1{
text-align: center;
color: darkred;
}

body{
background-image: url("http://www.media4.hw-static.com/media/2016/07/scream-album-881x896.jpg")
}

h2{
color: white;
}

ol{
color: maroon;
}

p{
color: white;
}